/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* GNB */
header .gnb {
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  height: 86px;
}

header .gnb .inner {
  width: 1520px;
  margin: 0 auto;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .gnb .logo {
  width: 114px;
  height: 37px;
}

header .gnb .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .gnb .menu li {
  width: 140px;
  text-align: center;
}

header .gnb .menu a {
  margin-right: 40px;
  font-size: 18px;
}

header .gnb .menu a:last-child {
  margin-right: 0;
}

header .gnb .menu a:hover {
  color: #628cf5;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

header .gnb .language {
  display: flex;
}

/* FAB */
header .fab-btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 148px;
  right: 66px;
  gap: 22px;
}

header .fab-btn .btn-top,
header .fab-btn .btn-customer {
  position: relative;
  width: 80px;
  height: 80px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.21),
    0px 20px 40px rgba(32, 29, 48, 0.46);
  backdrop-filter: blur(12px);
  border-radius: 50%;
  background: linear-gradient(
      157.44deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0) 30.54%
    ),
    rgba(255, 255, 255, 0);
  border: 1px solid #628cf5;
}

header .fab-btn .btn-top:hover,
header .fab-btn .btn-customer:hover {
  border: 1px solid #ffffff9d;
  background-color: #00000075;
}

header .fab-btn .btn-top:hover {
  content: url(../assets/img/header/fab-top-hover.svg);
}

header .fab-btn .btn-customer:hover {
  content: url(../assets/img/header/fab-customer-hover.svg);
}

header .btn-icon {
  position: relative;
  width: 80px;
  height: 80px;
}


/* hero */
.hero {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
}


.hero .inner {
  position: relative;
  width: inherit;
  height: inherit;
}

/* carousel */
.hero .carousel {
  position: relative;
  width: 100%;
  height: 1080px;
  z-index: 2; /* 0에서 2로 변경 */
  overflow: hidden;
}

.hero .carousel .list {
  position: absolute;
  top: 367px;
  left: 0px;
  width: 100%;
  height: 1080px;
  font-size: 68px;
  font-family: "Gmarket Sans";
}

.hero .carousel .list .item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
  will-change: opacity;
}

.hero .carousel .list .item.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

.hero .carousel .list .item.prev {
  opacity: 0;
  z-index: 2;
}

.hero .carousel .list .item.next {
  z-index: 2;
}

.hero .carousel .list .item > img,
.hero .carousel .list .item > video {
  position: absolute;
  width: 100vw;
  height: 1080px;
  object-fit: cover;
  z-index: -1;
  transform: translateX(-50%);
  top: calc(50% - 905px);
  left: 50%;
}

.hero .carousel .bg-front {
  position: absolute;
  width: 100vw;
  height: 1080px; 
  background: linear-gradient(
      67.43deg,
      rgba(27, 25, 44, 0.8),
      rgba(27, 25, 44, 0.424) 40%,
      rgba(27, 25, 44, 0.218) 60%
    ),
    linear-gradient(
      177.03deg,
      rgba(24, 29, 34, 0) 100%,
      rgba(24, 29, 34, 0.17) 40%
    );
  opacity: 0.9;
  z-index: 1;
  transform: translateX(-50%);
  top: calc(50% - 905px);
  left: 50%;
}

.hero .carousel .list .item .content {
  position: absolute;
  width: 1520px;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.05em;
  line-height: 110%;
  font-weight: 500;
  z-index: 6;
  color: #fff;
}

.hero .carousel .list .item .content .shape {
  position: absolute;
  width: 1200px;
  height: 280px;
  top: -20px;
  left: 38%;
  transform: translate(-50%, 0);
  background: linear-gradient(
    90deg,
    rgb(27, 25, 44) 0%,
    rgba(27, 25, 44, 0) 80%,
    rgba(27, 25, 44, 0) 100%
  );
  border-radius: 30px;
  filter: blur(116px);
  z-index: -1;
}

.hero .carousel .list .item .content .title {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUpFadeIn 0.8s ease forwards;
}

.hero .carousel .list .item .content .topic {
  color: #93b0f8;
  opacity: 0;
  transform: translateY(30px);
  animation: slideUpFadeIn 0.8s ease 0.3s forwards;
}

.hero .carousel .list .item .content .des {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUpFadeIn 0.8s ease 0.6s forwards;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .carousel .list .item .content .des .tit {
  position: absolute;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Pretendard;
  background: linear-gradient(89.97deg, rgba(250, 245, 250, 0) 38.74%, rgba(98, 140, 245, 0.42)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  display: inline-block;
}

.hero .carousel .list .item .content .des .dot-set {
  position: absolute;
  left: 180px;
  width: 51px;
  height: 3px;
  margin-top: 10px;
}

/* arrow */
.hero .thumbnail-group .arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  z-index: 5; 
}

.hero .thumbnail-group .arrows #prev,
.hero .thumbnail-group .arrows #next {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #201d3094;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  transform-origin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #d7e4ff8d;
  color: #d7e4ff;
}

.hero .thumbnail-group .arrows #prev svg,
.hero .thumbnail-group .arrows #next svg {
  width: 32px;
  height: 32px;
}

.hero .thumbnail-group .arrows #prev:hover,
.hero .thumbnail-group .arrows #next:hover,
.hero .thumbnail-group .arrows #prev:hover path,
.hero .thumbnail-group .arrows #next:hover path {
  background-color: #201d30e7;
  border: 0.5px solid #628cf5;
  color: #729aff;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* thumbnail */
.hero .thumbnail-group {
  position: absolute;
  width: 1520px;
  right: calc(50% - 760px);
  bottom: 108px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 35px;
  z-index: 5;
}
.hero .thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.hero .thumbnail .item.active {
  border: 4px solid #ffffff83;
  scale: 1;
}

.hero .thumbnail .item {
  position: relative;
  width: 230px;
  height: 220px;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent; 
}

.hero .thumbnail .item:hover {
  transform: scale(1.05);
}
.hero .thumbnail .item:nth-child(1) {
  background-image: url("../assets/img/main/bg-main-01.png");
}
.hero .thumbnail .item:nth-child(2) {
  background-image: url("../assets/img/main/bg-main-02.png");
}
.hero .thumbnail .item:nth-child(3) {
  background-image: url("../assets/img/main/bg-main-03.png");
}
.hero .thumbnail .item:nth-child(4) {
  background-image: url("../assets/img/main/bg-main-04.png");
}

.hero .thumbnail .item .subtit {
  position: absolute;
  top: 123px;
  left: 28px;
  box-shadow: -1px 2px 2px rgba(98, 140, 245, 0.03),
    -1px 4px 10px rgba(98, 140, 245, 0.06);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #628cf5;
  box-sizing: border-box;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  gap: 4px;
}

.hero .thumbnail .item .tit {
  position: absolute;
  top: 159px;
  left: 28px;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  width: 178px;
}

.hero .thumbnail .item .icon-expansion {
  position: absolute;
  top: 26px;
  left: 180px;
  width: 26px;
  height: 26px;
}

.hero .thumbnail .item .icon-expansion:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
  content: url(../assets/icon/icon-expansion-hover.svg);
}

.hero .thumbnail .item.active .icon-expansion {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}

/* assets */
.hero .assets {
  position: absolute;
  width: 1520px;
  left: 48.5%;
  transform: translate(-50%, -50%);
  top: 165px;
  z-index: 5;
}

.hero .assets .asset-top-gif {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 219px;
  height: 123px;
  opacity: 0.83;
}

.hero .assets .asset-top-left,
.hero .assets .asset-top-right,
.hero .assets .asset-bottom-left {
  position: absolute;
  z-index: 5;
}

.hero .assets .asset-top-left {
  top: 1px;
  left: 0px;
  width: 255px;
  height: 143px;
}
.hero .assets .asset-top-right {
  top: 0px;
  left: 1563px;
  width: 11px;
  height: 225px;
}
.hero .assets .asset-bottom-left {
  top: 522px;
  left: 54px;
  width: 11px;
  height: 233px;
}

/* banner */
.banner {
  background-color: #171624;
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.banner .inner {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .logo-set {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 24px;
}

/* solution */
.solution {
  position: relative;
  width: 100%;
  height: 3184px;
  /* overflow: hidden; */
}

/* solution header */
.solution .solution-header {
  position: absolute;
  width: 100vw; /* 뷰포트 전체 너비로 설정 */
  height: 498px;
  left: 50%; /* 중앙 정렬을 위한 설정 */
  transform: translateX(-50%); /* 중앙 정렬을 위한 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/main/bg-solution-header.png");
  background-size: 100% 498px; 
  background-repeat: no-repeat;
  background-position: center; 
}
.solution .head-tit {
  letter-spacing: -0.04em;
  line-height: 140%;
  font-weight: 600;
  font-size: 40px;
}

/* solution body */
.solution .solution-body {
  position: absolute;
  width: 100vw; 
  height: 2686px;
  top: 498px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/main/bg-solution-body.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: top;
}

.solution .contents {
  position: absolute;
  width: 1520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 148px;
  font-size: 40px;
}

.solution .content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
}

.solution .tit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.solution .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}

.solution .dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}

/* solution cards */
.solution .cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 22px;
}

.solution .dfas .card,
.solution .gm .card,
.solution .mcq .card {
  position: relative;
  box-shadow: 0px 26px 40px rgba(22, 20, 33, 0.48);
  backdrop-filter: blur(20px);
  border-radius: 48px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #628cf5;
  box-sizing: border-box;
  height: 498px;
  overflow: hidden;
}

.solution .dfas .card,
.solution .gm .card {
  width: 748px;
}

.solution .mcq .card {
  width: 492px;
}

.solution .dfas .card:hover,
.solution .gm .card:hover,
.solution .mcq .card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}

.solution .img-solution-dfaspro-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 748px;
  height: 498px;
  object-fit: cover;
}

.solution .txt-group {
  position: absolute;
  bottom: 0px;
  left: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(150, 178, 248, 0.2);
  box-sizing: border-box;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 40px;
  gap: 8px;
}

.solution .txt-group span {
  color: #91b1ff;
  font-weight: 700;
}

.solution .product-name {
  align-self: stretch;
  position: relative;
  letter-spacing: -2px;
  line-height: 120%;
  font-weight: 500;
}

.solution .des {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.03em;
  line-height: 140%;
  text-transform: uppercase;
  opacity: 0.75;
}

.solution .img-solution-mcq-p-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 498px;
  object-fit: cover;
}

.solution .p {
  margin: 0;
}

/* service */
.service {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-image: url("../assets/img/main/bg-service.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.service .tit-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.service .tit {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 600;
}

.service .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}

.service .dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}

.service .cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 24px;
}

.service .card:nth-child(1),
.service .card:nth-child(2),
.service .card:nth-child(3) {
  width: 492px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #628cf5;
  height: 498px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.service .card:nth-child(1):hover,
.service .card:nth-child(2):hover,
.service .card:nth-child(3):hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}

.service .card:nth-child(1) {
  background-image: url("../assets/img/main/service-01.png");
}

.service .card:nth-child(2) {
  background-image: url("../assets/img/main/service-02.png");
}

.service .card:nth-child(3) {
  background-image: url("../assets/img/main/service-03.png");
}

.service .title {
  position: absolute;
  top: 62px;
  left: 60px;
  letter-spacing: -2px;
  line-height: 159%;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.service .des {
  position: absolute;
  top: 104px;
  left: 60px;
  font-size: 18px;
  letter-spacing: -1.5px;
  line-height: 150%;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.service .title:hover,
.service .des:hover {
  color: #628cf5;
}

.service .arrow-btn {
  position: absolute;
  top: 365px;
  left: 24px;
  width: 120px;
  height: 120px;
}

.service .light-icon {
  position: absolute;
  top: -56px;
  left: -59.47px;
  width: 164.9px;
  height: 153px;
  object-fit: contain;
  mix-blend-mode: color-dodge;
}

.service .arrow-btn {
  content: url("../assets/img/main/arrow-btn.png");
}

.service .light-icon {
  content: url("../assets/img/main/light.png");
}

.service .arrow-btn:hover {
  content: url("../assets/img/main/arrow-btn-hover.png");
}

.service .light-icon:hover {
  content: url("../assets/img/main/light-hover.png");
}

/* client */
.client {
  position: relative;
  width: 100%;
  height: 920px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top;
}

.client .inner {
  position: relative;
  width: 1520px;
  margin: 0 auto;
  height: 100%;
}

.client .tit-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  padding-top: 200px;
}

.client .tit {
  font-size: 40px;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 600;
}

.client .dot {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.client .dot-child {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #628cf5;
}

.client .client-logo-set {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.client .logo-track {
  display: flex;
  gap: 20px;
  width: 200%;
}

.client .client-logo {
  height: 96px;
  width: 50%;
  object-fit: cover;
}

.client .track1 {
  animation: scrollLeft 60s linear infinite;
}

.client .track2 {
  animation: scrollRight 70s linear infinite;
}

.client .track3 {
  animation: scrollLeft 60s linear infinite;
}

.client .track4 {
  animation: scrollRight 70s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.client .logo-track:hover {
  animation-play-state: paused;
}

.client .linear {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 646px;
  background: linear-gradient(
    269.92deg,
    #201d30 1.16%,
    rgba(32, 29, 48, 0.8) 22.89%,
    rgba(32, 29, 48, 0) 38.81%,
    rgba(32, 29, 48, 0) 62.79%,
    rgba(32, 29, 48, 0.8) 78.82%,
    #201d30 97.17%
  );
}

/* news */
.news {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-image: url("../assets/img/main/bg-news.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 40px;
}

/* new__contents */
.news .contents {
  position: absolute;
  top: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.news .contents .txt-group {
  width: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
}

.news .contents .txt-group .tit-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.news .contents .txt-group .tit-group .tit {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 500;
}

.news .contents .txt-group .tit-group .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}

.news .contents .txt-group .tit-group .dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}

.news .contents .txt-group .des {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: -1.5px;
  line-height: 150%;
  font-weight: 300;
}

.news .contents .txt-group .des-sub {
  position: relative;
  font-size: 15px;
  letter-spacing: -1.5px;
  line-height: 150%;
  font-weight: 300;
  text-align: left;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.news .subtit {
  border-radius: 12px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    rgba(32, 29, 48, 0.74);
  border: 1px solid #628cf559;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
}

/* new__cards */
.news .cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 14px;
}

.news .card {
  width: 491px;
  position: relative;
  border-radius: 40px;
  height: 480px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url("../assets/img/main/bg-news.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.news .card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}

.news .card .txt-group {
  position: absolute;
  bottom: 0px;
  left: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(150, 178, 248, 0.2);
  box-sizing: border-box;
  width: 491px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 32px 40px;
  gap: 6px;
}

.news .card .top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.news .card .top .date {
  position: relative;
  font-size: 16px;
  letter-spacing: -1.5px;
  line-height: 150%;
  font-weight: 300;
}

.news .card .txt {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
}

.news .card .arrow-btn {
  position: absolute;
  top: 32px;
  right: 24px;
  width: 120px;
  height: 120px;
}

.news .card .arrow-btn:hover {
  content: url("../assets/img/main/arrow-btn-hover.png");
}

/* news__btn */
.news .btn {
  width: 489px;
  box-shadow: 0px 4px 12px rgba(98, 140, 245, 0.1),
    0px 6px 12px rgba(32, 29, 48, 0.15), 0px 8px 16px rgba(32, 29, 48, 0.2),
    0px 20px 20px rgba(32, 29, 48, 0.3), 0px 20px 60px rgba(32, 29, 48, 0.4);
  border-radius: 20px;
  background-color: #628cf5;
  border: 2px solid #628cf5;
  box-sizing: border-box;
  height: 67px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 28px;
  gap: 4px;
  font-size: 18px;
  margin-top: 20px;
}

.news .btn .button {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 136%;
  font-weight: 600;
  text-shadow: 0px 0px 0.9px #628cf5, 0px 0px 12.6px #264deb;
}

.news .btn .icon-arrow {
  width: 24px;
  height: 24px;
}

.news .btn:hover {
  background-color: #93b0f8;
  border: 2px solid #93b0f8;
}

.news .btn:active {
  background-color: #4663ae;
  border: 2px solid #4663ae;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 620px;
  background-image: url("../assets/img/footer/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 16px;
  color: rgba(190, 192, 194, 0.6);
}

footer .inner {
  position: relative;
  width: 1520px;
  height: inherit;
  margin: 0 auto;
}

footer .inner .menu-container {
  position: absolute;
}

footer .menu-container {
  position: absolute;
  top: 116px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  font-size: 18px;
  color: #fefefe;
}

footer .menu-group {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

footer .menu-group .menu-tit {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 140%;
  font-weight: 600;
}

footer .menu-group .menu-tit:hover {
  color: #628cf5;
}

footer .menu-group .divider-row-menu {
  width: 18px;
  height: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  transform-origin: 0 0;
}

footer ul {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  color: #bec0c2;
}

footer .li {
  position: relative;
  letter-spacing: -1px;
  line-height: 140%;
  font-weight: 200;
  font-size: 14px;
}

footer .li:hover {
  color: #628cf5;
}

footer .phone-number-group {
  position: absolute;
  top: 116px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  /* text-align: left; */
  font-size: 40px;
  color: #91b1ff;
}

footer .phone-number-group .img-call {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}

footer .phone-number-group .phone-number {
  position: relative;
  line-height: 20px;
}

footer .contact-group {
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .contact-group .logo-icon {
  height: 33px;
  width: 103px;
  opacity: 0.8;
}

footer .contact-group .contacts {
  width: 100%;
  gap: 20px;
}

footer .contact-group .representative-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .contact-group .txt,
footer .contact-group .txt-address {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 140%;
  color: #bec0c2f9;
}

footer .contact-group .txt-address {
  margin-top: 6px;
}

footer .contact-group .divider-column {
  width: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 14px;
  opacity: 0.3;
}

footer.contact-group .address {
  letter-spacing: -1.5px;
  line-height: 140%;
}

footer .contact-group .info-group {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

footer .contact-group .info {
  display: flex;
  gap: 6px;
  font-size: 18px;
}

footer .contact-group .info .txt {
  margin-top: 4px;
}

footer .sns-group {
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: flex;
  gap: 16px;
  left: 50%;
  transform: translateX(-50%);
}

footer .sns-group a:nth-child(1):hover img {
  content: url("../assets/img/footer/img-facebook-hover.png");
}

footer .sns-group a:nth-child(2):hover img {
  content: url("../assets/img/footer/img-instagram-hover.png");
}

footer .sns-group a:nth-child(3):hover img {
  content: url("../assets/img/footer/img-youtube-hover.png");
}

footer .sns-group .icon-sns {
  width: 40px;
  height: 40px;
}

footer .copyright {
  position: absolute;
  letter-spacing: -1px;
  line-height: 140%;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

footer .divider-row-full {
  position: absolute;
  width: 1520px;
  height: 2px;
  bottom: 160px;
  background-color: #eeeff023;
}

@media (max-width: 768px) {
  header .menu {
    display: none;
  }
}
