/* footer */
footer {
  position: relative;
  background-image: url("../../assets/img/footer/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: plus-darker, normal;
  width: 1840px;
  height: 620px;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  color: rgba(190, 192, 194, 0.6);
  border-radius: 48px 48px 0 0;
}

footer .inner {
  position: relative;
  width: 1440px;
  height: inherit;
  margin: 0 auto;
}

footer .inner .menu-container {
  position: absolute;
}

footer .menu-container {
  position: absolute;
  top: 116px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: 32px; */
  font-size: 18px;
  color: #fefefe;
}

footer .menu-group {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

footer .menu-group:nth-child(1) {
  margin-right: -32px;
}

footer .menu-group:nth-child(2) {
  margin-right: 22px;
}

footer .menu-group:nth-child(3) {
  margin-right: 56px;
}

footer .menu-group .menu-tit {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: #A7A7A7;
}


footer .menu-group .divider-row-menu {
  width: 18px;
  height: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  transform-origin: 0 0;
}

footer ul {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  color: #bec0c2;
}

footer .li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: -0.5px;
  color: #F1F1F1;
}

footer .li:hover {
  color: #628cf5;
}


footer .phone-number-group {
  position: absolute;
  bottom: 240px;
  left: -8px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 40px;
  color: #f1f1f1cc;
}


footer .phone-number-group .img-call {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

footer .contact-group {
  position: absolute;
  width: 50%;
  left: 0;
  top: 116px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .contact-group .logo-icon {
  height: 33px;
  width: 103px;
  opacity: 0.8;
}

footer .contact-group .contacts {
  width: 100%;
}

footer .contact-group .representative-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

footer .contact-group .txt {
  margin-bottom: 4px;
}

footer .contact-group .txt,
footer .contact-group .txt-address {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 140%;
  color: #bec0c2f9;
}

footer .contact-group .txt-address {
  margin-top: 6px;
}

footer .contact-group .divider-column {
  width: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 14px;
  opacity: 0.3;
}

footer.contact-group .address {
  letter-spacing: -1.5px;
  line-height: 140%;
}

footer .contact-group .info-group {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

footer .contact-group .info {
  display: flex;
  gap: 6px;
  font-size: 18px;
}

footer .contact-group .info .txt {
  margin-top: 4px;
}

/* 
footer .sns-group {
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: flex;
  gap: 16px;
  left: 50%;
  transform: translateX(-50%);
}

footer .sns-group a:nth-child(1):hover img {
  content: url("../assets/img/footer/img-facebook-hover.png");
}

footer .sns-group a:nth-child(2):hover img {
  content: url("../assets/img/footer/img-instagram-hover.png");
}

footer .sns-group a:nth-child(3):hover img {
  content: url("../assets/img/footer/img-youtube-hover.png");
}

footer .sns-group .icon-sns {
  width: 40px;
  height: 40px;
} */


footer .divider-row-full {
  position: absolute;
  width: 1520px;
  height: 2px;
  bottom: 156px;
  background-color: #eeeff023;
}

footer .copyright {
  position: absolute;
  letter-spacing: -0.8px;
  line-height: 140%;
  font-weight: 300;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  header .menu {
    display: none;
  }
}