/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header nav {
  width: 1840px;
  top: 20px;
  left: calc(50% - 920px);
  position: relative;
  box-shadow: 0px 25px 33px rgba(15, 15, 15, 0.03), 0px 7px 10px rgba(15, 15, 15, 0.02), 0px 3px 5px rgba(15, 15, 15, 0.01), 0px 2px 2px rgba(15, 15, 15, 0.01);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(237, 237, 237, 0.05);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 200px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: Pretendard;
}

header .inner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

header .logo-icon {
  width: 186px;
  position: relative;
  height: 56px;
}

header  a:first-child {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 136%;
  font-weight: 600;
}

header .menu {
  width: 612px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

header .menu li {
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

header .menu li:hover a{
  position: relative;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 136%;
  font-weight: 600;
  font-family: Pretendard;
  color: #91b1ff;
  text-align: center;
}

header .icon-language {
  width: 24px;
  position: relative;
  height: 24px;
}

header .icon-dropdown {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}

header .languege {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}



/* FAB 
header .fab-btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 148px;
  right: 66px;
  gap: 22px;
}

header .fab-btn .btn-top,
header .fab-btn .btn-customer {
  position: relative;
  width: 80px;
  height: 80px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.21),
    0px 20px 40px rgba(32, 29, 48, 0.46);
  backdrop-filter: blur(12px);
  border-radius: 50%;
  background: linear-gradient(
      157.44deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0) 30.54%
    ),
    rgba(255, 255, 255, 0);
  border: 1px solid #628cf5;
}

header .fab-btn .btn-top:hover,
header .fab-btn .btn-customer:hover {
  border: 1px solid #ffffff9d;
  background-color: #00000075;
}

header .fab-btn .btn-top:hover {
  content: url(../assets/img/header/fab-top-hover.svg);
}

header .fab-btn .btn-customer:hover {
  content: url(../assets/img/header/fab-customer-hover.svg);
}

header .btn-icon {
  position: relative;
  width: 80px;
  height: 80px;
}
*/