/* header */

header .menu li:nth-child(4) {
  border-radius: 999px;
  background-color: rgba(32, 29, 48, 0.34);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: default;
}

header .menu li:nth-child(4) a {
  position: relative;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 136%;
  font-weight: 600;
  color: #91b1ff;
  text-align: center;
  cursor: default;
}


/* intro */
.intro .intro-inner {
  background-image: url(../../assets/img/customer/bg-top.png);
  height: 380px;
}

.intro .breadcrumb {
  width: 18rem;
}

.intro .tab-container {
  height: 72px;
}


/* tab-main */
.intro .tab-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  border-bottom: 2px solid #2b293a;
  cursor: pointer;
}

.intro .tab-main a:nth-child(1) {
  background-color: #ffffff0d;
  cursor: default;
}

.intro .tab-main .tab-inquiry,
.intro .tab-main .tab-news {
  transition: all 0.3s ease;
}

.intro .tab-main .tab-news:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.intro .tab-main .tab-text {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: var(--text-20-semibold-font-family);
  font-weight: var(--text-20-semibold-font-weight);
  color: #ffffff;
  font-size: var(--text-20-semibold-font-size);
  text-align: center;
  letter-spacing: var(--text-20-semibold-letter-spacing);
  line-height: var(--text-20-semibold-line-height);
  white-space: nowrap;
  font-style: var(--text-20-semibold-font-style);
}

.intro .tab-main a:nth-child(2) .tab-text {
  color: #ffffff80;
}

.intro .tab-main .tab-inquiry,
.intro .tab-main .tab-news {
  all: unset;
  box-sizing: border-box;
  gap: 4px;
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  padding: 12px 0px 16px;
  position: relative;
  border-radius: 12px 12px 0px 0px;
}

/* Form Styling with States */
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 88px 0 120px 0;
}


.contents .tit-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  margin-bottom: 48px;
}

.contents .tit-group>.tit {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
}

.contents .tit-group .tit-dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}

.contents .tit-group .tit-dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}


.contents .form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}


.contents .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 1rem;
  width: 491px
}


.contents .form-group #details {
  width: 1006px;
  height: 300px;
  flex-grow: 1;
  margin-bottom: 16px;
}


.contents .form-group label {
  margin-left: 16px;
  color: #ffffffab;
}

.contents input,
.contents select,
.contents textarea {
  width: 100%;
  background-color: var(--input-background);
  border: 1px solid #495057;
  border-radius: 4px;
  color: #ffffff1;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  height: 56px;
  backdrop-filter: blur(20px);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1.2px solid rgba(255, 255, 255, 0.07);
  padding: 16px;
  text-align: left;
  font-size: 16px;
  color: rgba(136, 134, 145, 0.64);
}

.contents select {
  padding: 16px;
  background-color: #2B293B;
  appearance: none;
  /* 기본 화살표 제거 */
  -webkit-appearance: none;
  /* 웹킷 브라우저 기본 화살표 제거 */
  -moz-appearance: none;
  /* 파이어폭스 기본 화살표 제거 */

  /* 사용자 정의 화살표 추가 */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M1 4l5 5 5-5' fill='none' stroke='%23ffffff' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  /* 화살표 우측 여백 삽입 */
  padding-right: 30px;
  /* 화살표와 텍스트 사이 추가 여백 */
}

.contents select option {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #2B293B;
  /* 옵션 배경색 일치 */
  color: white;
}

/* Input States */
.contents input:hover,
.contents select:hover,
.contents textarea:hover {
  /* background-color: #f7f9fe; */
  border: 2px solid #e9ebf8c5;
  color: #a7a7a7;
}

.contents input:focus,
.contents select:focus,
.contents textarea:focus {
  outline: none;
  border: 2px solid rgba(147, 176, 248, 1);
  /* box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); */
  color: #f1f1f1;
}

.contents input:disabled,
.contents select:disabled,
.contents textarea:disabled {
  background-color: #495057;
  cursor: not-allowed;
}


/* 올바른 입력*/
/* .contents input:valid {
  border-color: var(--success-color);
}

/* 잘못된 입력
.contents input:invalid {
  border-color: var(--error-color);
} */

.contents .error-message {
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}

/* 체크박스 커스텀 스타일 */
.contents .checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 4px;
  color: #ffffffab;
}

.contents .checkbox-wrapper input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border: 2px solid #96B2F8;
  border-radius: 10px;
  outline: none;
  background-color: none;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contents .checkbox-wrapper input[type="checkbox"]:checked {
  background-color: none;
  border-radius: 10px;

  /* 체크박스 on 상태 blue */
  border: 2px solid #96B2F8;
  position: relative;
}

.contents .checkbox-wrapper input[type="checkbox"]:checked::before {
  content: url('../../assets/icon/icon-checking.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #494B4D;
  font-size: 20px;
}

.contents .checkbox-wrapper label {
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
  color: #ffffffca;
  display: block;
  z-index: 2;
  font: var(--font-h5);
}




.contents .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 24px 0;
}

.contents .info-table {
  width: 100%;
  backdrop-filter: blur(20px);
  border-radius: 12px;
  background-color: rgba(249, 249, 249, 0.02);
  padding: 32px 64px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #888691;
  border-collapse: separate;
  /* 테이블 테두리 분리 */
  /* border-collapse: collapse; 테이블 테두리 합치기 */
  border-spacing: 0 16px;
  /* 테이블 셀 간격 */
}

.contents .info-table tr {
  width: 100%;
}

.contents .info-table th {
  text-align: left;
  /* width: 30%; */
  padding-right: 20px;
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 150%;
  font-weight: 500;
  color: #888691;
  text-align: left;
  display: flex;
  align-items: center;
}

.contents .info-table td {
  flex: 1;
  /* width: 70%; */
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 150%;
  font-weight: 500;
  color: #ffffffe8;
  text-align: left;
  /* display: inline-block; */
}

.contents .des {
  gap: 4px;
  margin: 16px 48px;
  font-size: 16px;
  color: rgba(167, 167, 167, 1);
  border-collapse: separate;
}

.contents .des span {
  color: rgba(248, 109, 109, 1);
}


.contents .submit-button {
  width: 100%;
  border-radius: 12px;
  box-shadow: -1px 3px 4px rgba(98, 140, 245, 0.05), -1px 4px 8px rgba(98, 140, 245, 0.08), -1px 4px 16px rgba(98, 140, 245, 0.12);
  background-color: #628cf5;
  height: 56px;
  padding: 16px 28px;
  text-align: center;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 48px;
}

.contents .submit-button:hover:not(:disabled) {
  transition: background-color 0.3s ease;
  background-color: #446ed8;
}


/* .contents .submit-button {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* 
.contents .submit-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}




@media (max-width: 768px) {
  .contents .form-grid {
    grid-template-columns: 1fr;
  }
}