<!-- 카드 section 구조 -->
<div class="section-cards">
  <div class="card-container">
    <div class="card-wrapper">
      <div class="cards">
        <!-- 카드 여러개 배치할 경우 -->
        <!-- 내부에 카드별 삽입 -->
      </div>
    </div>
  </div>
</div>




<!-- card-main-solution -->
<div class="card card-main-solution" style="background-image: url('');">
  <div class="card-asset-area">
    <div class="icon-ellipse">
      <img class="card-asset-area-icon" alt="링크 아이콘" src="icons/icon-arrow-design.svg">
    </div>
  </div>
  <div class="card-txt-group">
    <h4 class="product-name">DFAS Enterprise</h4>
    <h6 class="des">원격지 디지털포렌식 솔루션</h6>
  </div>
</div>
</div>



<!-- card-main-service -->
<div class="card card-main-service" style="background-image: url('');">
  <div class="card-asset-area">
    <div class="icon-ellipse">
      <img class="card-asset-area-icon" alt="링크 아이콘" src="icons/icon-arrow-design.svg">
    </div>
  </div>
  <div class="card-txt-group">
    <h4 class="product-name">DFAS Enterprise</h4>
    <h6 class="des">원격지 디지털포렌식 솔루션</h6>
  </div>
</div>




<!-- card-main-news -->
<div class="card card-main-news" style="background-image: url('');">
  <div class="card-asset-area">
    <div class="icon-ellipse">
      <img class="card-asset-area-icon" alt="링크 아이콘" src="icons/icon-arrow-design.svg">
    </div>
  </div>
  <div class="card-txt-group">
    <div class="top">
      <div class="subtit">
        <h6 class="div">공지사항</h6>
      </div>
      <h6 class="date">2024-12-05</h6>
    </div>
    <h4 class="product-name">유락 공지사항</h4>
    <h6 class="des">본문 내용</h6>
  </div>
</div>




<!-- card-company -->
<div class="card card-company" style="background-image: url('');">
  <div class="card-txt-group">
    <h4 class="product-name">디지털포렌식 서비스</h4>
    <div class="des">
      <ul>
        <li>
          <h6>&middot; 디지털포렌식 국내/외 솔루션 제공 <br>
            &middot; 디지털포렌식 분석/진단 서비스 <br>
            &middot; 퇴사자 관리 서비스 </h6>
        </li>
        <!-- <li>
          <h6>&middot; 디지털포렌식 분석/진단 서비스</h6>
        </li>
        <li>
          <h6>&middot; 퇴사자 관리 서비스</h6>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="card-asset-area">
    <img class="card-asset-area-icon" alt="일러스트 아이콘" src="images/common/card-asset-area-test.webp">
  </div>
</div>




<!-- card-solution-contents -->
<div class="card card-solution-contents" style="background-image: url('');">
  <img src="" alt="카드 이미지">
</div>




<!-- card-solution-number -->
<div class="card card-solution-number" style="background-image: url('');">
  <div class="card-number"> 10 </div>
  <div class="card-txt-group">
    <div class="aseet-contents">
      <img alt="한국어 아이콘" src="images/solution/sns-01-k.webp">
      <img alt="영어 아이콘" src="images/solution/sns-02-e.webp">
      <img alt="중국어 아이콘" src="images/solution/sns-03-c.webp">
      <img alt="일본어 아이콘" src="images/solution/sns-04-j.webp">
    </div>
    <h6 class="des">Language: 한국어, English, <br>
      中國語, 日本語</h6>
  </div>
</div>




<!-- card-solution-feature -->
<div class="card card-solution-feature" style="background-image: url('');">
  <div class="card-txt-group">
    <h4 class="product-name">활성정보 분석</h4>
    <h6 class="des">description</h6>
  </div>
</div>
</div>


<!-- card-solution-series -->
<div class="card card-solution-series">
  <div class="left-area">
    <div class="card-txt-group">
      <div class="subtit">
        <h6>현장용 디지털포렌식 분석 솔루션</h6>
      </div>
      <div class="logo-area">
        <img class="logo-area" alt="DFAS 로고" src="logo/dfas.svg">
      </div>
      <h6 class="des">
        비전문가도 신속하고 정밀하게 ! <br>
        현장에 특화된 디지털포렌식 분석 도구 <b>DFAS Pro</b>
      </h6>
    </div>
    <div class="card-asset-area">
      <div class="icon-ellipse">
        <img class="card-asset-area-icon" alt="링크 아이콘" src="icons/icon-arrow-design.svg">
      </div>
    </div>
  </div>
  <img class="right-area" alt="오른쪽 영역 이미지" src="">
</div>





<!-- card-certificate -->
<div class="card card-certificate" style="background-image: url('');">
  <img class="card-certificate-img" alt="인증서 아이콘" src="images/solution/img-certificate-01.webp">
  <div class="card-txt-group">
    <div class="top">
      <div class="subtit">
        <h6 class="div">인증 번호: AAC196</h6>
      </div>
    </div>
    <h4 class="product-name">DFAS Enterprise</h4>
    <h6 class="des">본문 내용</h6>
  </div>
</div>