

/* 인증서 아이콘 */
.section-certificate .card-certificate-icon-container {
  position: relative;
  height: 36px;
  top: 68px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-certificate .card-certificate-icon-container .card-certificate-icon {
  width: 160px;
  height: 160px;
}



/* .section-certificate .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}


.section-certificate .prev-area-icon,
.section-certificate .next-area-icon {
  width: 88px;
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
} */

