/* feature 공통 스타일  */
/* 
 기본 배경 
.feature.bg-description,
.feature.dfas-pro,
.feature.dfas-ent,
.feature.mcq-g,
.feature.gm,
.feature.gm-pro {
  background-image: url(../../public/images/solution/bg-description.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.feature.bg-dark {
  background-color: #1d1a2b;
}

 공통 frame 스타일 
.feature .frame {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border: none;
  background-color: none;
}

 frames 컨테이너 (여러 카드용) 
.feature .frames {
  align-self: stretch;
  display: flex;
  gap: 24px;
  margin: 24px 0 180px 0;
}

/카드형 frame 스타일 
.feature .frame.card h4 {
  position: absolute;
  left: 48px;
  bottom: 48px;
}

페이지별 특화 스타일 
.feature.dfas-pro .frame {
  height: 648px;
  background-image: url(../../public/images/solution/contents-feature-dfas-pro.png);
  margin: 24px 0 180px 0;
  box-shadow: none;
}

.feature.dfas-ent .frame {
  height: 648px;
  background-image: url(../../public/images/solution/contents-feature-dfas-enterprise.png);
  margin: 24px 0 180px 0;
  box-shadow: none;
}

.feature.mcq-p .frame.card {
  width: 464px;
}

.feature.mcq-p .frame.card:nth-child(1),
.feature.mcq-p .frame.card:nth-child(2),
.feature.mcq-p .frame.card:nth-child(3) {
  background-image: url(../../public/images/solution/img-example.png);
}

.feature.mcq-s .frame.card {
  width: 342px;
}

.feature.mcq-s .frame.card:nth-child(1) {
  background-image: url(../../public/images/main/service-01.png);
}

.feature.mcq-s .frame.card:nth-child(2) {
  background-image: url(../../public/images/main/service-02.png);
}

.feature.mcq-s .frame.card:nth-child(3) {
  background-image: url(../../public/images/main/service-01.png);
}

.feature.mcq-s .frame.card:nth-child(4) {
  background-image: url(../../public/images/main/service-02.png);
}

.feature.mcq-g .frame.card {
  width: 464px;
}

.feature.mcq-g .frame.card:nth-child(1),
.feature.mcq-g .frame.card:nth-child(2),
.feature.mcq-g .frame.card:nth-child(3) {
  background-image: url(../../public/images/solution/img-example.png);
}

.feature.gm .frame {
  height: 648px;
  background-image: url(../../public/images/solution/contents-feature-gm.png);
  margin: 24px 0 180px 0;
  box-shadow: none;
}

.feature.gm-pro {
  padding: 80px 0;
  width: 100%;
}

.feature.gm-pro .frame {
  width: 1156px;
  height: 820px;
  position: relative;
  background-image: url(../../public/images/solution/contents-feature-gm-pro.png);
  background-position: center;
  overflow: hidden;
  flex-shrink: 0;
} */