/* news */
.news {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-image: url(images/main/bg-news.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
}

/* new cards */

.news .cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.news .card {
  position: relative;
  width: 464px;
  height: 480px;
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  backdrop-filter: var(--card-backdrop-filter);
  background-color: var(--card-background);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(images/main/bg-news.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.news .card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  border: var(--card-border);
}

.news .cards .des-sub {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  font-size: 16px;
}

.news .cards .notice {
  border-radius: 12px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    rgba(32, 29, 48, 0.74);
  border: 1px solid #628cf559;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
}

.news .card .card-txt-group {
  position: absolute;
  bottom: 0px;
  left: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(150, 178, 248, 0.2);
  box-sizing: border-box;
  width: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 32px 40px;
  gap: 6px;
}

.news .card .top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.news .card .top .date {
  position: relative;
  font-size: 18px;
}

.news .card .txt {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.news .card .tit {
  font-size: 28px;
  letter-spacing: -3px;
  line-height: 128%;
  font-weight: 600;
}

.news .card .arrow-btn {
  position: absolute;
  top: 32px;
  right: 24px;
  width: 120px;
  height: 120px;
}

.news .card .arrow-btn:hover {
  content: url(images/common/arrow-btn-hover.png);
}

/* news__btn */
.news .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 464px;
  box-shadow: 0px 4px 12px rgba(98, 140, 245, 0.1),
    0px 6px 12px rgba(32, 29, 48, 0.15), 0px 8px 16px rgba(32, 29, 48, 0.2),
    0px 20px 20px rgba(32, 29, 48, 0.3), 0px 20px 60px rgba(32, 29, 48, 0.4);
  border-radius: 16px;
  background-color: #628cf5;
  border: 2px solid #628cf5;
  box-sizing: border-box;
  height: 67px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 16px 28px;
  gap: 4px;
  font-size: 18px;
  margin-top: 20px;
}

.news .btn .button {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 136%;
  font-weight: 600;
  text-shadow: 0px 0px 0.9px #628cf5, 0px 0px 12.6px #264deb;
}

.news .btn .icon-arrow {
  width: 24px;
  height: 24px;
}

.news .btn:hover {
  background-color: #93b0f8;
  border: 2px solid #93b0f8;
}

.news .btn:active {
  background-color: #4663ae;
  border: 2px solid #4663ae;
}