/* specification 공통 스타일 */
.specification {
  background-image: url(images/solution/bg-description.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specification .frame {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border: none;
  background-color: none;
}

/* 페이지별 특화 스타일 */

/* MCQ-P */
.specification.mcq-p .frame {
  height: 648px;
  background-image: url(images/solution/contents-specification-mcq-p.png);
  margin: 24px 0 180px 0;
}

/* MCQ-G */
.specification.mcq-g .frame {
  height: 648px;
  background-image: url(images/solution/contents-specification-mcq-g.png);
  margin: 24px 0 180px 0;
}

.specification.mcq-g .tit-container {
  gap: 16px;
}