/* utilization 공통 스타일
.utilization {
  background-image: url(images/solution/bg-description.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 920px;
}

.utilization .frames {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 24px;
}

.utilization .frame {
  position: relative;
  border-radius: 50px;
  width: 342px;
  height: 648px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background: linear-gradient(180deg, rgba(32, 29, 48, 0), rgba(32, 29, 48, 0.633) 58.47%);
  margin: 24px 0 180px 0;
}

.utilization .frame:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffffd9;
}

.utilization .frame .frame-txt-bg {
  position: absolute;
  width: 100%;
  height: 138px;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.05);
}

.utilization .frame .frame-txt-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 40px 36px;
  gap: 8px;
} */

/* 페이지별 특화 스타일 */

/* DFAS Enterprise 페이지 - 4개 카드 


.utilization.dfas-ent .frame:nth-child(1) {
  background-image: url(images/main/service-01.png);
}

.utilization.dfas-ent .frame:nth-child(2) {
  background-image: url(images/main/service-02.png);
}

.utilization.dfas-ent .frame:nth-child(3) {
  background-image: url(images/main/service-01.png);
}

.utilization.dfas-ent .frame:nth-child(4) {
  background-image: url(images/main/service-02.png);
}*/





/* DFAS Pro 페이지 - 2개 카드 
.utilization.dfas-pro .frame:nth-child(1) {
  background-image: url(images/solution/contents-utilization-dfas-pro-01.png);
}

.utilization.dfas-pro .frame:nth-child(2) {
  background-image: url(images/solution/contents-utilization-dfas-pro-02.png);
}*/




/* 기본 스타일 (메인 페이지용) 
.utilization .frame:nth-child(1) {
  background-image: url(images/main/service-01.png);
}

.utilization .frame:nth-child(2) {
  background-image: url(images/main/service-02.png);
}

.utilization .frame:nth-child(3) {
  background-image: url(images/main/service-01.png);
}

.utilization .frame:nth-child(4) {
  background-image: url(images/main/service-02.png);
}*/




/* DFAS Pro 
.utilization.dfas-pro .frame {
  background-image: url(images/solution/contents-utilization-dfas-pro.png);
}*/



/* DFAS Enterprise 
.utilization.dfas-ent .frame {
  background-image: url(images/solution/contents-utilization-dfas-enterprise.png);
}*/