.intro {
  background-image: url(.././images/solution/bg-top.png);
}

/* section 공통 */
.section-process .card,
.section-comparison .card,
.section-utilization .card,
.section-effect .card {
  outline: none;
  backdrop-filter: blur(0px);
  cursor: default;
}


/* section-comparison */
.section-comparison .section-cards {
  gap: 12px;
}


/* section-utilization */
.section-utilization .card {
  border-radius: 24px;
}


/* section-certificate */
.section-certificate .card {
  border-radius: 24px;
}