.intro {
  background-image: url(/images/solution/bg-top.png);
}

/* section 공통 */
.section-process .card,
.section-comparison .card,
.section-utilization .card,
.section-effect .card {
  outline: none;
  backdrop-filter: blur(0px);
  cursor: default;
}


/* section-comparison */
.section-comparison .section-cards {
  gap: 12px;
}


/* section-utilization */
.section-utilization .card {
  border-radius: 24px;
}


/* section-certificate */
.section-certificate .card {
  border-radius: 24px;
}


/* .section-process .card-solution-contents {
  width: 100%;
  height: 41.5rem;
  background-image: url("/images/solution/contents-process-dfas-pro.png");
  background-size: cover;
  background-position: center;
}

.section-comparison .card-solution-contents {
  width: 100%;
  height: 45.5625rem;
  background-image: url("/images/solution/contents-comparison-dfas-pro.png");
  background-size: cover;
  background-position: center;
}

.section-utilization .card-solution-contents {
  width: 100%;
  height: 9.25rem;
  background-size: cover;
  background-position: center;
}

.section-utilization .card-solution-contents:nth-child(1) {
  background-image: url("/images/solution/contents-utilization-dfas-pro-02.png");
}

.section-utilization .card-solution-contents:nth-child(2) {
  background-image: url("/images/solution/contents-utilization-dfas-pro-02.png");
}

.section-effect .card-solution-contents {
  width: 100%;
  height: 44rem;
  background-image: url("/images/solution/contents-effect-dfas-pro.png");
  background-size: cover;
  background-position: center;
}



.frame-container .frame {
  width: 100%;
  background-image: url("/images/solution/img-card-dfas-pro.png");
  background-size: cover;
  background-position: center;
} */




/* 예시: 768px 이하에서 다른 이미지 사용 */
/* @media (max-width: 768px) {
  .section-process .card-solution-contents {
    background-image: url("/images/solution/contents-process-dfas-pro-mobile.png");
  }

  .section-comparison .card-solution-contents {
    background-image: url("/images/solution/contents-comparison-dfas-pro-mobile.png");
  }
} */