/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* GNB */
header .gnb {
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  height: 86px;
}

header .gnb .inner {
  width: 1520px;
  margin: 0 auto;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .gnb .logo {
  width: 114px;
  height: 37px;
}

header .gnb .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .gnb .menu li {
  width: 140px;
  text-align: center;
}

header .gnb .menu li:nth-child(1) a {
	pointer-events: none;
	color: #93B0F8;
	font-weight: 600;
}

header .gnb .menu a {
  margin-right: 40px;
  font-size: 18px;
}

header .gnb .menu a:last-child {
  margin-right: 0;
}

header .gnb .menu a:hover {
  color: #628cf5;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

header .gnb .language {
  display: flex;
}

/* FAB */
header .fab-btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 148px;
  right: 66px;
  gap: 22px;
}

header .fab-btn .btn-top,
header .fab-btn .btn-customer {
  position: relative;
  width: 80px;
  height: 80px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.21),
    0px 20px 40px rgba(32, 29, 48, 0.46);
  backdrop-filter: blur(12px);
  border-radius: 50%;
  background: linear-gradient(
      157.44deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0) 30.54%
    ),
    rgba(255, 255, 255, 0);
  border: 1px solid #628cf5;
}

header .fab-btn .btn-top:hover,
header .fab-btn .btn-customer:hover {
  border: 1px solid #ffffff9d;
  background-color: #00000075;
}

header .fab-btn .btn-top:hover {
  content: url(../assets/img/header/fab-top-hover.svg);
}

header .fab-btn .btn-customer:hover {
  content: url(../assets/img/header/fab-customer-hover.svg);
}

header .btn-icon {
  position: relative;
  width: 80px;
  height: 80px;
}

header nav .focusbar {
  position: absolute;
  width: 80px;
  height: 4px;
  left: calc(50% - 240px);
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  background-color: #93B0F8;
  transition: left 0.45s ease-in-out;
}


/* intro */
.intro {
  width: 100%;
  position: relative;
  height: 376px;
  overflow: hidden;
  background-image: url("../assets/img/company/bg-top.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.intro .tab-contents {
  position: absolute;
  width: 100%;
  height: 56px;
  bottom: 0;
  left: 0;
  background-color: #201d30;
  z-index: 1;
}

.intro .txt-group {
  position: absolute;
  top: 150px;
  left: calc(50% - 158px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  text-align: center;
  font-size: 32px;
  color: #f5f5f5;
}

.intro .tit {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 140%;
  font-weight: 600;
}

.intro .des {
  position: relative;
  font-size: 18px;
  letter-spacing: -2px;
  line-height: 150%;
  font-weight: 300;
  color: #fff;
  text-align: left;
}

/* intro__breadcrumbs */
.breadcrumbs {
  width: 100%;
  position: relative;
  background-color: #201d30;
  height: 56px;
  text-align: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Pretendard;
}
.breadcrumbs .breadcrumb {
  position: absolute;
  top: 16px;
  left: 181px;
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.breadcrumbs .home-group {
  width: 36px;
  height: 24px;
  position: relative;
  padding: 4px;
}
.breadcrumbs .home-group:hover {
  color: #628cf5;
  content: url("../assets/icon/icon_home_hover.svg");
}
.breadcrumbs .icon-home {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.breadcrumbs .home {
  position: absolute;
  top: 0px;
  left: 22px;
  letter-spacing: -0.5px;
  line-height: 148%;
}
.breadcrumbs .icon-arrow {
  width: 24px;
  position: relative;
  height: 24px;
  opacity: 0.4;
}
.breadcrumbs .company {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 148%;
  color: #fff;
}

/* business */
.business {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* business__header */
.business .business-header {
  position: relative;
  width: 100%;
  height: 488px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/company/bg-business-header.png");
  background-size: 100% 488px;
  background-repeat: no-repeat;
  background-position: center;
}

.business .business-header .txt-group {
  position: absolute;
  top: calc(50% - 110px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 18px;
}

.business .business-header .logo-icon {
  position: relative;
  width: 140px;
  height: 45px;
}

.business .business-header .des {
  position: relative;
  margin: 0;
  letter-spacing: -1.8px;
  line-height: 150%;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
}

/* business__body */
.business .business-body {
  position: relative;
  width: 100%;
  min-height: 795px;
  background-image: url('../assets/img/company/bg-business-body.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business .business-body .container {
  position: absolute;
  width: 1520px;
  top: calc(50% - 310px);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.business .business-body .tit-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.business .business-body .tit-group > .tit {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 600;
}

.business .business-body .tit-group .tit-dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}

.business .business-body .tit-group .tit-dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}

.business .business-body .cards {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  text-align: left;
  font-size: 24px;
}

.business .business-body .cards .card {
  position: relative;
  width: 362px;
  box-shadow: 0px 16px 40px rgba(32, 29, 48, 0.42);
  backdrop-filter: blur(16px);
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(241, 239, 250, 0.03);
  box-sizing: border-box;
  height: 420px;
  overflow: hidden;
  flex-shrink: 0;
}

.business .business-body .cards .card .txt-group {
  position: absolute;
  top: 48px;
  left: 44px;
  width: 254px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.business .business-body .cards .card .txt-group .txt-area {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 10px;
}

.business .business-body .cards .card .txt-group .des {
  position: relative;
  align-self: stretch;
  font-size: 16px;
  letter-spacing: -1.2px;
  line-height: 150%;
  font-weight: 300;
  left: -10px;
}

.business .business-body .cards .card .txt-group ul {
  margin: 0;
  padding-left: 21px;
}


.business .business-body .cards .card .icon-area {
  position: absolute;
  top: 240px;
  left: 182px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  object-fit: cover;
}



/* history */
.history {
  width: 100%;
  position: relative;
  height: 3389px;
  background-image: url('../assets/img/company/bg-history.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 48px;
  color: #91b1ff;
  --txt-show-gap: 80px;
  --start-point: 407px;
  --height-1: 847px;
  --height-2: 363px;
  --height-3: 484px;
  --height-4: 222px;
  --height-5: 175px;
  --height-6: 128px;
  --height-7: 128px;
}

.history .vertical-line {
  position: absolute;
  top: 189px;
  left: calc(50% - 3px);
  width: 4px;
  height: 3080px;
  object-fit: contain;
}
.history .bse-bbb {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 600;
}
.history .tit-dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}
.history .tit-dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}
.history .tit {
  position: absolute;
  top: 180px;
  left: calc(50% - 38.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: Pretendard;
}
.history .dot-point-icon {
  width: 40px;
  position: relative;
  height: 52px;
  object-fit: cover;
}
.history .bseyearbbb {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  opacity: 0.75;
}
.history .bsemonthbbb {
  width: 36px;
  position: relative;
  letter-spacing: -1.5px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.history .divider-column {
  width: 2px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.35);
  height: 12px;
  opacity: 0.4;
}
.history .bsetxtbbb {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 150%;
}

.history .bse {
  flex: 1;
  position: relative;
  letter-spacing: -1.5px;
  line-height: 150%;
  font-weight: 500;
}
.history .des {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 58px;
  color: rgba(255, 255, 255, 0.45);
}
.history .li2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.history .p {
  margin: 0;
}

.history .txt-group {
  width: 822px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.history .ul {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px 0px;
  gap: 20px;
  font-size: 18px;
  color: #f5f5f5;
}
.history .ul1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px 0px;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: #f5f5f5;
}
.history .ul3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px 0px;
  text-align: left;
  font-size: 18px;
  color: #f5f5f5;
}
.history .ul6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px 0px;
  font-size: 18px;
  color: #f5f5f5;
}

.history .li {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.history .li17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

/* history__txt-show */
.history .txt-show-group {
  position: relative;
  width: 100%;
  height: 2680px;
}

.history .txt-show {
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  width: 740px;
}

.history .txt-show:nth-child(odd) {
  justify-content: flex-start;
  right: 41px;
}

.history .txt-show:nth-child(even) {
  justify-content: flex-end;
  text-align: right;
  left: 39px;
}


.history .txt-show:nth-child(1) { 
  top: var(--start-point);
}

.history .txt-show:nth-child(2) { 
  top: calc(var(--start-point) + var(--height-1) + var(--txt-show-gap));
}

.history .txt-show:nth-child(3) { 
  top: calc(var(--start-point) + var(--height-1) + var(--height-2) + 
       var(--txt-show-gap) * 2);
}

.history .txt-show:nth-child(4) { 
  top: calc(var(--start-point) + var(--height-1) + var(--height-2) + 
       var(--height-3) + var(--txt-show-gap) * 3);
}

.history .txt-show:nth-child(5) { 
  top: calc(var(--start-point) + var(--height-1) + var(--height-2) + 
       var(--height-3) + var(--height-4) + var(--txt-show-gap) * 4);
}

.history .txt-show:nth-child(6) { 
  top: calc(var(--start-point) + var(--height-1) + var(--height-2) + 
       var(--height-3) + var(--height-4) + var(--height-5) + 
       var(--txt-show-gap) * 5);
}

.history .txt-show:nth-child(7) { 
  top: calc(var(--start-point) + var(--height-1) + var(--height-2) + 
       var(--height-3) + var(--height-4) + var(--height-5) + 
       var(--height-6) + var(--txt-show-gap) * 6);
}




/* partner */
.partner {
  position: relative;
  width: 100%;
  height: 860px;
  background-image: url('../assets/img/company/bg-partner.png');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 40px;
}

.partner .tit-group {
  position: absolute;
  top: 132px;
  left: calc(50% - 55px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.partner .tit-group .tit {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 140%;
  font-weight: 600;
}


.partner .tit-group .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}


.partner .tit-group .dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}


/* client */
.client {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #1b182a;
}

.client-logo-wrapper {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.client-logo-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3100px;
    height: 120px;
    object-fit: cover;
    animation: slideLeft 70s linear infinite;
}

.client-logo-icon.clone {
    left: 3100px;
    animation: slideLeft2 70s linear infinite;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3100px);
    }
}

@keyframes slideLeft2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3100px);
    }
}




/* location */
.location {
  position: relative;
  width: 100vw;
  height: 1080px;
  overflow: hidden;
  background-image: url('../assets/img/company/bg-location.png');
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 44px;
  left: 50%;
  transform: translateX(-50%);
}

.location .contents {
  position: absolute;
  top: calc(50% - 454px);
  left: calc(50% - 760.5px);
  width: 1521px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 68px;
}

.location .map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
}

.location .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.location .tit-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
}

.location .tit {
  position: relative;
  letter-spacing: -4px;
  font-weight: 600;
}

.location .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 12px;
}

.location .dot-child {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #628cf5;
  height: 8px;
}

.location .des {
  position: relative;
  font-size: 18px;
  letter-spacing: -1.8px;
  line-height: 150%;
  font-weight: 300;
  white-space: pre-wrap;
}

.location .map-area {
  width: 1521px;
  position: relative;
  border-radius: 80px;
  background-color: #fff;
  height: 640px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 16px;
  color: #f1f1f1;
  cursor: default;
  user-select: none;
}

.location .map-area iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto;
}

.location .location-group .txt-group {
  position: absolute;
  top: 51px;
  left: 106px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.location .map-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0.5px;
  right: 0px;
  bottom: -0.5px;
  left: 0px;
  max-width: none;
  overflow: hidden;
  max-height: none;
  object-fit: cover;
  pointer-events: none; 
}

.location .address {
  position: relative;
  letter-spacing: -2px;
  line-height: 150%;
  font-weight: 500;
}

.location a.location-group {
  position: absolute;
  top: 225px;
  left: 700px;
  width: 390px;
  height: 162px;
  background-image: url('../assets/img/company/location-group.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 10;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}


.location a.location-group .icon-arrow {
  width: 16px;
  position: relative;
  height: 16px;
}

.location button.btn-blue {
  width: 489px;
  box-shadow: 0px 4px 12px rgba(98, 140, 245, 0.1), 0px 6px 12px rgba(32, 29, 48, 0.15), 0px 8px 16px rgba(32, 29, 48, 0.2), 0px 20px 20px rgba(32, 29, 48, 0.3), 0px 20px 60px rgba(32, 29, 48, 0.4);
  border-radius: 20px;
  background-color: #628cf5;
  border: 2px solid #628cf5;
  box-sizing: border-box;
  height: 68px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 28px;
  gap: 4px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.location button.btn-blue .btn {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 136%;
  font-weight: 600;
  text-shadow: 0px 0px 0.9px #628cf5, 0px 0px 12.6px #264deb;
}

.location button.btn-blue .icon-arrow {
  width: 24px;
  position: relative;
  height: 24px;
}










/* footer */
footer {
  position: relative;
  width: 100%;
  height: 620px;
  background-image: url("../assets/img/footer/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 16px;
  color: rgba(190, 192, 194, 0.6);
}

footer .inner {
  position: relative;
  width: 1520px;
  height: inherit;
  margin: 0 auto;
}

footer .inner .menu-container {
  position: absolute;
}

footer .menu-container {
  position: absolute;
  top: 116px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  font-size: 18px;
  color: #fefefe;
}

footer .menu-group {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

footer .menu-group .menu-tit {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 140%;
  font-weight: 600;
}

footer .menu-group .menu-tit:hover {
  color: #628cf5;
}

footer .menu-group .divider-row-menu {
  width: 18px;
  height: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  transform-origin: 0 0;
}

footer ul {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  color: #bec0c2;
}

footer .li {
  position: relative;
  letter-spacing: -1px;
  line-height: 140%;
  font-weight: 200;
  font-size: 14px;
}

footer .li:hover {
  color: #628cf5;
}

footer .phone-number-group {
  position: absolute;
  top: 116px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  font-size: 40px;
  color: #91b1ff;
}

footer .phone-number-group .img-call {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}

footer .phone-number-group .phone-number {
  position: relative;
  line-height: 20px;
}

footer .contact-group {
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .contact-group .logo-icon {
  height: 33px;
  width: 103px;
  opacity: 0.8;
}

footer .contact-group .contacts {
  width: 100%;
  gap: 20px;
}

footer .contact-group .representative-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .contact-group .txt,
footer .contact-group .txt-address {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 140%;
  color: #bec0c2f9;
}

footer .contact-group .txt-address {
  margin-top: 6px;
}

footer .contact-group .divider-column {
  width: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 14px;
  opacity: 0.3;
}

footer.contact-group .address {
  letter-spacing: -1.5px;
  line-height: 140%;
}

footer .contact-group .info-group {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

footer .contact-group .info {
  display: flex;
  gap: 6px;
  font-size: 18px;
}

footer .contact-group .info .txt {
  margin-top: 4px;
}

footer .sns-group {
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: flex;
  gap: 16px;
  left: 50%;
  transform: translateX(-50%);
}

footer .sns-group a:nth-child(1):hover img {
  content: url("../assets/img/footer/img-facebook-hover.png");
}

footer .sns-group a:nth-child(2):hover img {
  content: url("../assets/img/footer/img-instagram-hover.png");
}

footer .sns-group a:nth-child(3):hover img {
  content: url("../assets/img/footer/img-youtube-hover.png");
}

footer .sns-group .icon-sns {
  width: 40px;
  height: 40px;
}

footer .copyright {
  position: absolute;
  letter-spacing: -1px;
  line-height: 140%;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

footer .divider-row-full {
  position: absolute;
  width: 1520px;
  height: 2px;
  bottom: 160px;
  background-color: #eeeff023;
}

@media (max-width: 768px) {
  header .menu {
    display: none;
  }
}

